@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is being used to explore features of C# and ASP.NET. Normally this type of application might 
    be better suited for a Javascript framework since I/O from a server isn't really necessary. So I don't expect
    this application to be used for anything in particular. I may port the Python project over to a Javascript framework
     at a later date. </p>
